/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
/*
 * Scrollbar
*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
  background-color: #555;
}
/*
 * container style
*/
.container{
  padding-top: 15px;
}
/*
 * Header style
*/

.blog-header{
  background: url('../images/strand.jpg');
  background-size: cover;
  background-position-y: 75%; 
}
.header-information{
  max-width: 83%; 
  text-align: center;
}
.header-information-wrapper{
  margin-top: 30px;
  display: inline-block;
  /*background: rgba(0, 0, 0, .5);*/
  text-shadow: 0 0 20px #000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-information h1{
  font-size: 11em;
}
.header-information p{
  font-family: 'Open Sans';
  color: white;
}
.header-information a{
  color: white;
}
.header-information a:hover{
  text-decoration: none;
}

/*
 * Override Bootstrap's default container.
 */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .blog-header{
    height: 400px;
  }
  .container {
    width: 1200px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .header-information h1{
    font-size: 9em;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
  .header-information h1{
    font-size: 9em;
  }
}
/* Phones */
@media (max-width: 767px){
  .header-information h1{
    font-size: 4em;
  }
  #sb_instagram{
    display: none;
  }
}




/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500; 
}
.blog-nav li a {
    color: #fff;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  opacity: 0.86;
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-title a{
  font-family: 'Clicker Script';
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 0;
  width: 100%;
  margin: auto;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.blog-date:first-letter {
    text-transform: uppercase;
}
.blog-about h4{
  font-family: 'Open Sans';
}
.blog-about p{
  font-family: 'Raleway';
}
.blog-archive h4{
  font-family: 'Open Sans';
}
.blog-archive a{
  font-family: 'Raleway';
  color: #517fa4;
}
.blog-elsewhere h4{
  font-family: 'Open Sans';
}
.blog-elsewhere a{
  font-family: 'Raleway';
  color: #517fa4;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */
.blog-post {
  font-size: 18px;
  margin-bottom: 60px;
}
.blog-post-content p{
  font-family: 'Raleway';
  text-align: justify;
}
.blog-post-title {
  font-family: 'Playfair Display';
  text-align: center;
  margin-bottom: 5px;
  font-size: 40px;
  color: #666;
}
.blog-post-title a{
  color: #666;
}
.blog-post-meta {
  font-family: 'Raleway';
  text-align: center;
  font-size: 0.85em;
  margin-bottom: 20px;
  color: #999;
}
.blog-post-meta a{
  color: #666;
}

.blog-post-content{
  font-size: 0.96em;
}

/*
 * Blog images
 */
.blog-post img{
  width: 100%;
  height: auto;
}

/*
 * Single Blog posts
*/

.blog-single-post{
  max-width: 1000px;
  margin: auto;
}

/*
 * Footer
 */

.blog-footer {
  font-family: 'Raleway';
  font-size: 1.2em;
  padding: 40px 0;
  text-align: center;
  color: white;
  background-color: #517fa4;
  opacity: 0.9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer > p > a{
  color:white;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.blog-footer p:last-child a:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid white;
}

/*
 * Instagram Feed
*/

.sbi_header_text{
color: #555;
}
#sb_instagram{
margin-bottom: 15px;
}
.sb_instagram_header p {font-family: 'Raleway'; font-size: 1em !important;}
.sb_instagram_header{
margin-bottom: 5px !important;
}

.sbi_photo img{
border-radius: 2px;
}
.sbi_follow_btn{width: 100%; margin-left: 1px !important;}
.sbi_follow_btn a{font-family: 'Raleway';width: 98%; opacity: 0.9;}

#sbi_load > a{
  margin: 0 0 2px 0 !important;
}